<h1>{{title}}</h1>

<div *ngIf="showAdd">
    <input [(ngModel)]=newCoffee.name placeholder="Name"/>
    <input [(ngModel)]=newCoffee.roaster placeholder="Roaster"/>
    <input [(ngModel)]=newCoffee.roast placeholder="Roast"/>
    <input [(ngModel)]=newCoffee.amount placeholder="Amount"/>
    <button (click)="addCoffee(newCoffee)">Add</button>
    <button (click)="cancelAdd()">Cancel</button>
</div>
<button *ngIf="!showAdd" (click)="showAdd = true">Add Coffee</button>
<br/>
<div *ngFor="let currentCoffee of coffees">
    <div *ngIf="currentCoffee.edit" class="edit-div row">
        <div><input [(ngModel)]=currentCoffee.coffee.name/></div>
        <div><input [(ngModel)]=currentCoffee.coffee.roaster/></div>
        <div><input [(ngModel)]=currentCoffee.coffee.roast/></div>
        <div><input [(ngModel)]=currentCoffee.coffee.amount/></div>
        <div><button (click)="currentCoffee.edit = false">Cancel</button></div>
        <div><button (click)="updateCoffee(currentCoffee)">Save</button></div>
        <div><button (click)="deleteCoffee(currentCoffee)">Delete</button></div>
    </div>
    <div *ngIf="!currentCoffee.edit" class="display-div row">
        <div>{{currentCoffee.coffee.name}}</div>
        <div>{{currentCoffee.coffee.roaster}}</div>
        <div>{{currentCoffee.coffee.roast}}</div>
        <div>{{currentCoffee.coffee.amount}}</div>
        <div><button (click)="currentCoffee.edit = true">Edit</button></div>
    </div>    
</div>