<h1>{{title}}</h1>

<div *ngIf="showAdd">
    <input [(ngModel)]=newCoffee.name placeholder="Name"/>
    <input [(ngModel)]=newCoffee.roaster placeholder="Roaster"/>
    <input [(ngModel)]=newCoffee.roast placeholder="Roast"/>
    <input [(ngModel)]=newCoffee.amount placeholder="Amount"/>
    <button (click)="addCoffee(newCoffee)">Add</button>
    <button (click)="cancelAdd()">Cancel</button>
</div>
<button *ngIf="!showAdd" (click)="showAdd = true">Add Coffee</button>
<br/>
<div class="containter" style="padding: 0 0 100px 100px;">
    <div class="row">
        <div *ngFor="let currentCoffee of coffees" class="card">
                <div><input [(ngModel)]=currentCoffee.name/></div>
                <div><input [(ngModel)]=currentCoffee.roaster/></div>
                <div><input [(ngModel)]=currentCoffee.roast/></div>
                <div><input [(ngModel)]=currentCoffee.amount/></div>
        </div>
    </div>
</div>