<h1>{{title}}</h1>

<div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div *ngIf="showAdd">
                    <input [(ngModel)]=newCoffee.name placeholder="Name"/>
                    <input [(ngModel)]=newCoffee.roaster placeholder="Roaster"/>
                    <input [(ngModel)]=newCoffee.roast placeholder="Roast"/>
                    <input type="number" [(ngModel)]=newCoffee.amount placeholder="Amount"/>
                    <button (click)="addCoffee(newCoffee)">Add</button>
                    <button (click)="cancelAdd()">Cancel</button>
                </div>
                <button *ngIf="!showAdd" (click)="showAdd = true">Add Coffee</button>
            </div>
            <div class="col-md-3">
                <input class="search" type="search" placeholder="Filter ;)" [(ngModel)]="filter"/>
            </div> 
            <div class="col-md-3">
                <label>Order 
                <select [(ngModel)]="orderBy">
                    <option value="name">Name</option>
                    <option value="roaster">Roaster</option>
                    <option value="roast">Roast</option>
                </select>
                </label>
            </div>           
        </div>
        <div class="row">
            <div *ngFor="let currentCoffee of coffees | coffeefilter:filter | coffeeorder:orderBy" class="col-md-2 coffee-pane" [id]="'coffee_' + currentCoffee.id" (mouseenter)="currentCoffee.showOptions = true" (mouseleave)="currentCoffee.showOptions = false">
                <div *ngIf="!currentCoffee.editMode" class="display-pane">
                    <div class="pane-title">{{currentCoffee.name}}</div>
                    <div class="pane-subtitle">{{currentCoffee.roaster}}</div>
                    <div class="row pane-details">
                        <div class="col-md-6">{{currentCoffee.roast}}</div>
                        <div class="col-md-6 text-right">{{currentCoffee.amount}} oz.</div>
                    </div> 
                    <div *ngIf="currentCoffee.showOptions" class="row edit-options">
                        <div class="col-md-6">
                            <button (click)="goToEdit(currentCoffee)">Edit</button>
                        </div>
                        <div class="col-md-6">
                            <button (click)="deleteCoffee(currentCoffee)">Delete</button>
                        </div>
                    </div>
                </div>
                <div *ngIf="currentCoffee.editMode" class="edit-pane container">
                    <div class="row" >
                        <div class="col-s-12">
                            <label>Name: <input type="text" [(ngModel)]="currentCoffee.name" /> </label> 
                        </div>
                        <div class="col-s-12">
                            <label>Roaster: <input type="text" [(ngModel)]="currentCoffee.roaster" /> </label> 
                        </div>
                        <div class="col-s-12">
                            <label>Roast: <input type="text" [(ngModel)]="currentCoffee.roast" /> </label> 
                        </div>
                        <div class="col-s-12">
                            <label>Amount: <input type="number" [(ngModel)]="currentCoffee.amount" /> </label> 
                        </div>
                    </div>                    
                    <button (click)="goToDisplay(currentCoffee)">Cancel</button>
                    <button (click)="updateCoffee(currentCoffee)">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>